
<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" type="text/css" href="/style.css" />
<meta charset="UTF-8">
<header>
  <h1>Starbucks POS</h1>

</header>
<body>
  <a class = "btn" href="/Server/CoffeeMenu">
    <button>Server</button>
  </a>
  
  <a class = "btn" href="/Manager">
      <button >Manager</button>
  </a>

  <p><%=price%></p>

</body>
</html>