
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<header>
  <h1>Starbucks POS</h1>

</header>
<body>
  <a href="/Server/1">
    <button>Server</button>
  </a>
  
  <a href="/Manager">
      <button >Manager</button>
  </a>

  <p><%=price%></p>

</body>
</html>