doctype html
html
  head
    <link rel="icon" type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/en/thumb/d/d3/Starbucks_Corporation_Logo_2011.svg/1200px-Starbucks_Corporation_Logo_2011.svg.png">
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
