
<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <title>Manager</title>
  <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/5977/5977591.png">
<style>
  .btn{
    background-color:#006241;
  }

  .navbar{
    background-color:#006241;
  }

  .sticky {
      position: sticky; 
      top: 0;
      z-index: 100;
    }
    .row {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .my-custom-scrollbar {
      position: relative;
      height: 700px;
      overflow: auto;
    }
    .table-wrapper-scroll-y {
      display: block;
    }
  </style>

</head>
<body>

<!--Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark sticky">
  <a class="navbar-brand" href="/">
    <img src ="https://cdn-icons-png.flaticon.com/512/5977/5977591.png" height = 50px /> 
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="/">Home</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link">Manager</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/Server/CoffeeMenu">Server</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Customer/CoffeeMenu">Customer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/finder">Locations</a>
      </li>
    </ul>
  </div>
</nav>
<body>
    
 
<!--Inventory -->
<div class="container-md">
    <div class="row">
      <div class="col">
        <h3>Inventory</h3>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-striped table-bordered table-sm" cellspacing="0">
          <thead>
            <tr>
              <th>Item</th>
              <th>Quantity</th>
              <th>Restock</th>
            </tr>
          </thead>
          <tbody>

            <% for(var i in inventory_arr) { %>
                <tr>
                  <td><%= inventory_arr[i].item%></td>
                  <td><%= inventory_arr[i].quantity%></td>
                  <td>
                     <form action="/update-inventory/<%= inventory_arr[i].id%>"method="post" >
 
                      <button class="btn btn-success" type="submit" aria-haspopup="true" aria-expanded="false">
                        Restock
                      </button>
                 </form>
             </td>
                </tr>
             <% } %>
            
          </tbody>
        </table>
      </div>
      </div>

      <!-- column 2-->
      <div class="col">
        <!--Generate Reports -->
        <div class="container-md">
          <div class="row">
            <div class="col">
              <h3>Generate Reports</h3>
              <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Choose Report
                </button>
                <div class="dropdown-menu" aria-labelledby="Choose Report">
                  <a class="dropdown-item" href="/XReport">X Report</a>
                  <a class="dropdown-item" href="/ZReport">Z Report</a>
                  <a class="dropdown-item" href="#">Restock Report</a>
                  <a class="dropdown-item" href="#">Excess Report</a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!--Seasonal Item -->
        <div class="container-md">
          <div class="row">
            <div class="col">
              <h3>Seasonal Item</h3>
                <form action="/add-menu-item"method="post">
                  <div class="form-group">
                    <label for="enterNameSeasonal">Seasonal Item name</label>
                    <input type="seasonalItem" name="SeasonName"class="form-control" id="seasonalItemName" placeholder="Item Name">
                  </div>
                  <div class="form-group">
                    <label for="enterTallPriceSeasonal">Tall Price $</label>
                    <input type="seasonalItem" name="PriceTall" class="form-control" id="seasonalTallItemPrice" placeholder="Tall Price">
                  </div>
                  <div class="form-group">
                    <label for="enterGrandeSeasonal">Grande Price $</label>
                    <input type="seasonalItem" name="PriceGrande" class="form-control" id="seasonalGrandeItemPrice" placeholder="Grande Price">
                  </div>
                  <div class="form-group">
                    <label for="enterVentiPriceSeasonal">Venti Price $</label>
                    <input type="seasonalItem" name="PriceVenti" class="form-control" id="seasonalVentiItemPrice" placeholder="Venti Price">
                  </div>
                  <button class="btn btn-success" type="submit" aria-haspopup="true" aria-expanded="false">
                    Submit
                  </button>
                </form>
            </div>
          </div>
        </div>


        <!--Sales Report -->
        <div class="container-md">
          <div class="row">
            <div class="col">
              <h3>Sales Report</h3>
              <form>
                <div class="form-group">
                  <label for="salesReport">Enter Date Range</label>
                  <input type="salesReportDate" class="form-control" id="dateRange" placeholder="mm-dd-yyyy/mm-dd-yyyy">
                </div>
                <button class="btn btn-success" type="submit" aria-haspopup="true" aria-expanded="false">
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  
</body>
</html>