
<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css" />
<header>
    <h1>Manager</h1>

</header>
<body>
    
    <a href="/">
        <button >Home</button>
    </a>
    <a  href="/Manager">
        <button >Refresh Inventory</button>
    </a>
    <hr class="rounded">
        <table>
            <% for(var i in inventory_arr) { %>
               <tr>
                 <td><%= inventory_arr[i].item%></td>
                 <td><%= inventory_arr[i].quantity%></td>
                 <td>
                    <form action="/update-inventory/<%= inventory_arr[i].id%> "method="post" >

                    <button type="submit" name="submit" >
                        restock
                    </button>
                </form>
            </td>
               </tr>
            <% } %>
        </table>
</body>
</html>