
<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
<header>
    <h1>Server</h1>
</header>
<body>

    <a href="./">
        <button >Home</button>
    </a>
    <a href="/Server/1">
        <button >Coffee</button>
    </a>
    <a href="/Server/2">
        <button >Tea</button>
    </a>
    <a href="/Server/3">
        <button >Breakfast</button>
    </a>
    <a href="/Server/4">
        <button >Bakery</button>
    </a>
    <hr class="rounded">

</body>
</html>