body {
  background-color: #f9f9f9;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #151515;
}

.protanopia {
  /* Change red colors to shades of green */
  color: #00ff00;
  background-color: #00ff00;
  border-color: #00ff00;
}

.protanopia a {
  /* Change red links to shades of green */
  color: #00ff00;
  border-bottom-color: #00ff00;
}

.protanopia img {
  /* Change red images to shades of green */
  filter: grayscale(100%) contrast(80%) brightness(120%) hue-rotate(-30deg) saturate(1.5) invert(1);
}

.deuteranopia {
  /* Change green colors to shades of red */
  color: #ff0000;
  background-color: #ff0000;
}

.deuteranopia a {
  /* Change green links to shades of red */
  color: #ff0000;
  border-bottom-color: #ff0000;
}

.deuteranopia img {
  /*Change green images to shades of red */
  filter: grayscale(100%) contrast(80%) brightness(120%) hue-rotate(150deg) saturate(1.5) invert(1);
}

.tritanopia {
  /* Change blue colors to shades of yellow */
  color: #ffff00;
  background-color: #ffff00;
}

.tritanopia a {
  /* Change blue links to shades of yellow */
  color: #ffff00;
  border-bottom-color: #ffff00;
}

.tritanopia img {
  /* Change blue images to shades of yellow */
  filter: grayscale(100%) contrast(80%) brightness(120%) hue-rotate(60deg) saturate(1.5) invert(1);
}

.greyscale {
  /* Change all colors to shades of grey */
  color: #808080;
  background-color: #808080;
}

.greyscale a {
  /* Change all links to shades of grey */
  color: #808080;
  border-bottom-color: #808080;
}

.greyscale img {
  /* Change all images to shades of grey */
  filter: grayscale(100%)
}
